<h2>Países</h2>
<ul class="list-group">
    <!-- <li routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        class="list-group-item ">home Page
    </li> 
    <li routerLink="about"
        routerLinkActive="active"
        class="list-group-item mt-3">About Page
    </li> 
    <li routerLink="contact"
        routerLinkActive="active"
        class="list-group-item mt-3">Contact Page
    </li>  -->
    <li routerLink="countries/by-capital"
        routerLinkActive="active"
        class="list-group-item mt-3">Por Capital
    </li> 
    <li routerLink="countries/by-country"
        routerLinkActive="active"
        class="list-group-item mt-3">Por Pais
    </li> 
    <li routerLink="countries/by-region"
        routerLinkActive="active"
        class="list-group-item mt-3">Por Region
    </li> 
</ul>